// Place all the styles related to the Password controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.strength-meter {
  margin-top: 28px;
}

.progress .meter.w-0 {  background: #E31A1C;  }
.progress .meter.w-1 {  background: #E31A1C;  }
.progress .meter.w-2 {  background: #FD8D3C;  }
.progress .meter.w-3 {  background: #FECC5C;  }
.progress .meter.w-4 {  background: #FFFFB2;  }